body {
    background-color: rgb(255, 248, 227);
}
.header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inspiration', cursive;
  
}
.logo{
    display: flex;
    align-items: center;
    font-family: 'Inspiration', cursive;
}
@media (max-width:590px) {
    .search-container input {
        width: 60px;
    }
}
.food{
    margin-right: 10px;
    color: orange;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

.main{
    width: 100%;
    height: auto;
    display: flex;
    font-family: 'Roboto Mono', monospace;
   
}
.first-div{
    width: 60%;
    font-family: 'Inspiration', cursive;
}
.order-text {
    padding-left: 20px;
}
@media (max-width:778px) {
    .main {
        flex-direction: column-reverse;
    }
    .first-div{
    width: 80%;
    margin: auto;
    text-align: center;
    }
    .second-div{
        width: 80%;
        margin: auto;
    }
    .buttons {
        margin: auto;
    }
    .star {
        margin:auto;
    }
}
.second-div{
    width: 40%;
    font-family: 'Inspiration', cursive;
}
footer{
    width: 100%;
    height: 150px;
    font-family: 'Inspiration', cursive;
}
.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: 'Inspiration', cursive;
}
.list li{
    margin-right: 20px;
    font-family: 'Inspiration', cursive;
}
.image{
    width: 100%;
    height: 100%;
  
    border-radius: 4px;
    font-family: 'Inspiration', cursive;
}
.title{
    font-size: 60px;
    color: orange;
    font-family: 'Inspiration', cursive;
}
.title-div{
    text-align: center;
    font-family: 'Inspiration', cursive;
}
.buttons {
    padding-left:20px;
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inspiration', cursive;
}
.button{
    background: black;
    color: wheat;
    border-radius: 23px;
    padding: 10px;
    font-family: 'Inspiration', cursive;
}
.menu-parent-container {
    margin: 30px 0;
    width:100%;
    height:auto;
}
.menu-container {
    display: grid;  
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    height: auto;  
    width: 100%;
    font-family: 'Inspiration', cursive; 
    text-align: center;
  }
  .menu-container img{
    width: 180px;
    height: 180px;
    font-family: 'Inspiration', cursive;
  }
  .menu-container > div {
    background-color: none;
    font-size: 30px;
    height: auto;
    width:180px;
    font-family: 'Inspiration', cursive;

  }
  @media (max-width:1094px) {
    .menu-container {
        display: grid;  
        grid-template-columns: auto auto auto;
        width:660px;
        column-gap: 60px;
        margin:auto;
      }
    
  }
  @media (max-width:608px) {
    .menu-container {
        width:420px;
        column-gap: 60px;
        margin:auto;
        display: grid;  
        grid-template-columns: auto auto;
        align-items: center;
      }
    
  }
    .video {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    height: 40px;
    width: 117px;
    border: none;
    font-family: 'Inspiration', cursive;
  }

  .star i {
    color: #f9a825;
}
.star-container {
    padding-left:20px;
}
.star {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
    height: 40px;
}

input[type="email"] {
    font-family: 'Inspiration', cursive;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer {
    height: 70px;
}
.socials {
    width: 50%;
    height:auto;
    color: #bdbdbd;
}
.socials--item {
    margin-right: 12px;
}
.socials--item:hover {
color: #333;
}